@font-face {
    font-family: 'junctionregular';
    src: url('Junction-regular-webfont.eot');
    src: url('Junction-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Junction-regular-webfont.woff') format('woff'),
         url('Junction-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: junctionregular, sans-serif;
}

.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
 color: white !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
 border-bottom: 1px solid white !important;
 box-shadow: 0 1px 0 0 white !important;
}