@font-face {
    font-family: 'junctionregular';
    src: url("Junction-regular-webfont.f0616bfbba00.eot");
    src: url("Junction-regular-webfont.f0616bfbba00.eot?#iefix") format('embedded-opentype'),
         url("Junction-regular-webfont.1dbde238d738.woff") format('woff'),
         url("Junction-regular-webfont.fcf4b7b8379e.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: junctionregular, sans-serif;
}
.input-font1 {
    font-family:sans-serif;
    color:white;
    font-size:1.7rem !important;
}
/*.input-field label {*/
/*    color: #fff;*/
/*}*/

/*.input-field input[type=text]:focus + label {*/
/*    color: #fff;*/
/*}*/

/*.input-field input[type=text]:focus {*/
/*    border-bottom: 5px solid #fff;*/
/*    box-shadow: 0 1px 0 0 #fff;*/
/*}*/

/*.input-field input[type=text].valid {*/
/*    border-bottom: 1px solid #fff;*/
/*    box-shadow: 0 1px 0 0 #fff;*/
/*}*/

/*.input-field input[type=text].invalid {*/
/*    border-bottom: 1px solid #fff;*/
/*    box-shadow: 0 1px 0 0 #fff;*/
/*}*/

/*.input-field .prefix.active {*/
/*    color: #fff;*/
/*}*/
    